.mat-card {
  max-width: 800px;
  margin: auto;
  margin-bottom: 10px;
}
mat-card img {
  width: 100px;
  height: auto;
  margin: 10px;
}
.account-info {
  display: flex;
}
.account-info-content {
  margin-left: 20px;
}
.button-content {
  margin-top: 25px;
  text-align: center;
}
.submit-button {
  width: 100px !important;
  min-width: unset !important;
}
.mat-form-field {
  width: 80%;
  margin: auto;
  display: block;
}
